@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;
}
body{
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.glass-dark {
    background: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(10px);

  }
  
  .glass-light {
    background: rgba(255, 253, 253, 0.771);
    backdrop-filter: blur(10px);
  
  }
  